.main__inner__title {
    border-left: 8px solid #000;
    width: 62%;
    margin: 100px auto 50px auto;
    padding-left: 10px;
}

.staff-list-table{
    width: 60%;
    margin: 0 auto 100px auto;
    background-color: #fff;
    border-radius: 12px;
}

.staff-list-table__header{
    height: 50px;
    border-bottom: 4px solid #ebedee;
    color: #8e8c8c;
    font-size: 16px;
}

.staff-list-table__body{
    height: 50px;
    border-bottom: 4px solid #ebedee;
    color: #8e8c8c;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.detail-link{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

@media screen and (max-width: 768px) {
    .main__inner__title {
        width: 72%;
        margin: 50px auto 30px auto;
        padding-left: 5px;
        font-size: 24px;
    }

    .staff-list-table {
        width: 70%;
    }

    .staff-list-table__header {
        height: 40px;
        border-bottom: 3px solid #ebedee;
        font-size: 12px;
    }

    .staff-list-table__body {
        height: 40px;
        border-bottom: 3px solid #ebedee;
        font-size: 12px;
    }

    .detail-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .main__inner__title {
        border-left: 6px solid #000;
        width: 92%;
        margin: 50px auto 20px auto;
        padding-left: 5px;
        font-size: 18px;
    }

    .staff-list-table {
        width: 90%;
    }

    .staff-list-table__header {
        height: 30px;
        border-bottom: 2px solid #ebedee;
        font-size: 12px;
    }

    .staff-list-table__body {
        height: 30px;
        border-bottom: 2px solid #ebedee;
        font-size: 10px;
    }

    .detail-link {
        font-size: 10px;
    }
}